{% for ticket in tickets %}
    <tr>
        <td class="border">{{  ticket.id  }}</td>
        <td class="border">{{  ticket.name  }}</td>
        <td class="border">{{  ticket.description  }}</td>
        <td class="border">{{  ticket.done  }}</td>
        <td class="border">{{  ticket.priority  }}</td>                                        
    </tr>
{% endfor %}
<tr>
    <td colspan="3">
        <button class="px-3 py-1 bg-blue-600 text-white ml-4"
            hx-get="/index?page={{ page + 1}}"
            hx-target="#table-body"
            hx-swap="outherHTML">Load More</button>
    </td>
</tr>
